.navigation {
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 650px;
  grid-row: 1;
  grid-column: 1/4;
  
  &__link {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 15px;
    padding: 0;
    text-decoration: none;
    color: #292929;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

}

@media (max-width: 1440px) {
  .navigation {
    grid-row: 2;
    grid-column: 1 / 6;
  }
}

@media (max-width: 1024px) {
  .navigation {
    padding: 20px 0;
    order: 2;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__link {
      margin: 10px 30px;
    }
  }
}