.button {
  background-color: #fff;
  text-decoration: none;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  position: relative;
  overflow: hidden;
  transition: color .2s ease-out;

  &__text {
    z-index: 100;
  }


  &:hover {
    color: #fff;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background: -webkit-linear-gradient(bottom, #adaaa6 0, #31302f 100%);
    background-color: green;
    transform: translateY(100%);
    transition: transform .2s ease-out;
  }

  &:hover:before {
    transform: translateY(0);
  }

  

  &__img {
    padding-right: 20px;
  }
  
  &__contacts {
    min-width: 150px;
  }

  &__products {
    min-width: 200px;
    color: #1c8a43;
  }

}

@media (max-width: 1440px) {
  .button {
    grid-row: 3;

    &__contacts {
      grid-column: 1/3;
    }

    &__products {
      grid-column: 3;
    }
  }
}

@media (max-width: 1024px) {
  .button {
    min-height: 50px;

    &__contacts {
      order: 5;
    }

    &__products {
      order: 6;
    }
  }
}