.button {
  background-color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;

  &__img {
    padding-right: 20px;
  }
  
  &__contacts {
    min-width: 150px;
  }

  &__products {
    min-width: 200px;
    color: #1c8a43;
  }

  
}