.button {
  background-color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;

  &__img {
    padding-right: 20px;
  }
  
  &__contacts {
    min-width: 150px;
  }

  &__products {
    min-width: 200px;
    color: #1c8a43;
  }

}

@media (max-width: 1440px) {
  .button {
    grid-row: 3;

    &__contacts {
      grid-column: 1/3;
    }

    &__products {
      grid-column: 3;
    }
  }
}

@media (max-width: 1024px) {
  .button {
    min-height: 50px;

    &__contacts {
      order: 5;
    }

    &__products {
      order: 6;
    }
  }
}