.lang-selector {
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 151px;
  display: flex;
  justify-content: space-around;
  grid-row: 1;

  &__link {
    text-decoration: none;
    color: #292929;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    transition: opacity .2s ease;

    &:hover {
      opacity: .6;
    }

    &_type_selected {
      color: #1c8a43;
    }
  }

}

@media (max-width: 1440px) {
  .lang-selector {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (max-width: 1024px) {
  .lang-selector {
    order: 1;
    min-height: 30px;
    padding: 0 30px;
  }
}
