.search {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  grid-column: 3/5;
  grid-row: 2;

  &__input {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__submit {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url(../../images/search_1991.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    width: 80px;
    height: 100%;
    cursor: pointer;
  }
}

#search_type_mobile {
  display: none;
}

@media (max-width: 1440px) {
  .search {
    grid-row: 3;
    grid-column: 4/6;
  }
}

@media (max-width: 1024px) {
  #search_type_mobile {
    grid-row: 1;
    grid-column: 2;
    display: flex;
  }

  #search_type_descktop {
    display: none;
  }

  .search {
    display: flex;
    border: 1px solid #f9f9f9;
    height: 31px;
    align-self: center;
    justify-self: flex-end;

  }
}

@media (max-width: 590px) {
  .search {
    position: relative;
    width: 35px;
    justify-self: flex-end;
    border: 1px solid #f9f9f9;

    &__input {
      &_type_mobile {
        border: 1px solid #f9f9f9;
        position: absolute;
        width: 200px;
        right: 36px;
        opacity: 1;
        transition: opacity .2s ease-out;
      }

      &_visible_hidden {
        opacity: 0;
      }
    }
  }
}