.search {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  grid-column: 3/5;

  &__input {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__submit {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url(../../images/search_1991.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    width: 80px;
    height: 100%;
  }
}

@media (max-width: 1440px) {
  .search {
    grid-row: 3;
    grid-column: 4/6;
  }
}