.search {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  grid-column: 3/5;
  grid-row: 2;

  &__input {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__submit {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url(../../images/search_1991.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    width: 80px;
    height: 100%;
  }
}

@media (max-width: 1440px) {
  .search {
    grid-row: 3;
    grid-column: 4/6;
  }
}

@media (max-width: 1024px) {
  .search{
    &_type_mobile {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      height: 28px;
      top: -50px;
      right: 57px;
      border: 1px solid #e5e5e5;
      width: 300px;    
    }

    &__submit {
      &_type_mobile {
        border: 1px solid #e5e5e5;
        width: 35px;
      }
    }
  }
}

@media (max-width: 590px) {
  .search {
    width: 35px;
  }
  .search__input_type_mobile {
    display: none;
  }
}