.contacts {
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  min-width: 210px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s ease;

  &:hover {
    opacity: .6;
  }

  &__phone {
    margin: 0;
    padding: 0;
    color: #1c8a43;
    text-decoration: none;
    grid-row: 1;
  }

  &__email {
    color: #292929;
    font-weight: 500;
  }
}

@media (max-width: 1440px) {
  .contacts {
    &__phone {
      grid-column: 2/4;
    }
    &__email {
      grid-column: 4/6;
    }
  }
}

@media (max-width: 1024px) {
  .contacts {      
    min-height: 30px;
    padding: 0 30px;

    &__phone {
      order: 1;

    }
    &__email {
      order: 1;
    }
  }
}