@import url(./vendor/normalize.css);
@import url(./vendor/fonts/stylesheet.css);

@import url(./blocks/body/body.scss);
@import url(./blocks/header/header.scss);

@import url(./blocks/navigation/navigation.scss);
@import url(./blocks/lang-selector/lang-selector.scss);

@import url(./blocks/contacts/contacts.scss);

@import url(./blocks/button/button.scss);

@import url(./blocks/search/search.scss);