.header {
  background-color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(300px, auto) minmax(auto, 1560px);
  position: relative;

  &__logo {
    min-width: 177px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../../images/logo__1939.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    width: 100%;
    border-left: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: repeat(5, minmax(auto, auto));
    gap: 1px;
  }

  &__close-button {
    display: none;
  }

}

@media (max-width: 1440px) {
  .header {
    &__content {
      grid-template-rows: 50px 50px 50px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;

    &__logo {
      max-width: 177px;
      margin-left: 20px;
    }

    &__content {
      position: absolute;
      max-width: 425px;
      top: 70px;
      right: 0;
      display: flex;
      flex-direction: column;
    }

    &__close-button {
      width: 30px;
      height: 30px;
      display: block;
      align-self: center;
      margin-right: 20px;
      border: none;
      outline: none;
      background: -webkit-linear-gradient(top, #31302f 0, #31302f 20%, #fff 20%, #fff 40%, #31302f 40%, #31302f 60%, #fff 60%, #fff 80%, #31302f 80%, #31302f 100%);
      background: -moz-linear-gradient(top, #31302f 0, #31302f 20%, #fff 20%, #fff 40%, #31302f 40%, #31302f 60%, #fff 60%, #fff 80%, #31302f 80%, #31302f 100%);
      background: -o-linear-gradient(top, #31302f 0, #31302f 20%, #fff 20%, #fff 40%, #31302f 40%, #31302f 60%, #fff 60%, #fff 80%, #31302f 80%, #31302f 100%);
      background: -ms-linear-gradient(top, #31302f 0, #31302f 20%, #fff 20%, #fff 40%, #31302f 40%, #31302f 60%, #fff 60%, #fff 80%, #31302f 80%, #31302f 100%);
      background:linear-gradient (top, #31302f 0, #31302f 20%, #fff 20%, #fff 40%, #31302f 40%, #31302f 60%, #fff 60%, #fff 80%, #31302f 80%, #31302f 100%);
    }
  }
}


